.registerSection {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 150px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: white
}

.registerTitle {
        display: flex;
        justify-content: center;
        font-family: "lato";
}
.regText {
    color: #9096B2;
    font-size: 17px;
    font-family: "Lato";
    text-align: center;
}

label {
    font-family: "Lato";
    font-size: 16px;
    color: #9096B2;
}

.registerInput {
    width: 80%;
    height: 30px;
    border-color: #9096B2;
}

.registerPassword {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 26px;
    border-color: #9096B2;
    border-radius: 5px;
}

.registerButton {
    width: 100%;
    background-color: #fb2e86;
    color: white;
    border-radius: 5px;
    border: none;
    height: 30px;
}

.loginAccount p {
    font-size: 17px;
    color: #9096B2;
    font-family: "lato"; 
 }
 
 .loginLink {
     font-size: 17px;
     color: #9096B2;
     font-family: "lato";
     padding-left: 5px;
 }


.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

/* 
.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
*/


.instructions > svg {
    margin-right: 0.25rem;
    
}

.instructions {
    font-size: 14px;;
    color: #9096B2;
    font-family: "lato";
   
}

.offscreen {
    position: absolute;
    left: -9999px;
}